footer {
  height: 500px;
  background-image: url(/images/footer.png);
  color: white;
}
.footer {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__content > div {
    flex-basis: 20%;
  }
}
.footer > h3 {
  margin-left: 50px;
}

@media screen and(max-width:600px){
    .footer{
        &__content>div{
            flex-basis: 40%;
        }
    }
    footer{
        height: 600px;
    }
}
