.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-intro {
  @extend .main-content;
  color: $text--color-1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  max-width: 80%;
  height: 600px;
  padding-top: 200px;
  align-self: center;
  &__content {
    width: 85%;
    text-align: center;
    font-size: 20px;
  }
}
.section-vision {
  @include background("images/sun-vision.jpg");
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 300px;
  &__content {
    @extend .main-content;
    text-align: center;
    color: $text--color-1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    max-width: 60%;
  }
  &__content > h4 {
    border-style: solid;
    border-width: 2px;
    border-color: $text--color-1;
    width: 25%;
    text-transform: uppercase;
    padding: 5px;
  }
}
.section-client {
  @extend .main-content;
  background-color: $text--color-1;
  align-self: stretch;
  & > h4 {
    border: solid 2px $text--color-2;
    color: $text--color-2;
    text-transform: uppercase;
    padding: 5px 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.slide {
  display: flex;
  overflow: hidden;
  max-width: 80%;
  &__item > img {
    display: block;
    margin: 50px;
    position: relative;
    animation-name: slide;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@keyframes slide {
  0% {
    left: 0px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: -600px;
  }
}

@media screen and(max-width:600px) {
  .article-intro {
    font-size: 22px;
    &__content {
      font-size: 14px;
    }
  }
  .section-vision {
    &__content > h4 {
      width: 50%;
    }
  }
}
