$text--color-1: #ffffff;
$text--color-2: #333333;
$primary-font: arial;
@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  @include background("images/sun-banner.jpg");
  background-attachment: fixed;
  margin: 0px;
}
@import "scss/header";
@import "scss/main";
@import "scss/footer";
