footer.footer
    h3 Sun* Inc.
    .footer__content
        div
            h3 Hanoi Office
            h4 Keangnam
            p 13F Keangnam Hanoi Landmark 72 Tower, Plot E6, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
            p 84-24-3795-5417
            h4 Handico
            p 11F Handico Building, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
        div
            h3 Training Office
            h4 Handico
            p 11F Handico Building, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
        div
            h3 Da Nang Office
            p 4F, FHome Building, 16 Ly Thuong Kiet Str., Hai Chau district, Da Nang
        div
            h3 Ho Chi Minh Office
            p 8F Nice building, 467 Dien Bien Phu Str., Ward 25, Binh Thanh district, HCMC