header.header
    .wrapper
        .logo
            a(href="#")
                img(src="images/logo.png", alt="logo")
        nav.header-right
            a(href="#") Cơ hội nghề nghiệp
            a(href="#") Liên hệ
            .dropdown-lang
                button.btn-lang Tiếng Việt
                .dropdown-lang__content
                    a(href="#") English


            select(name="lang" id="lang")
                option(value="vi")
                    a(href="#") Tiếng Việt
                option(value="en")
                    a(href="#") English