main.main-content
    article.article-intro
        p Hello world
        h2 JOIN US & MAKE AWESOME THINGS THAT MATTER
        .article-intro__quote
            p Hãy tưởng tượng ra một thế giới nơi tất cả mọi người đều được tự do tạo ra những giá trị tuyệt vời, có sức mạnh thay đổi cuộc sống. Chúng tôi theo đuổi đam mê của chính mình, cùng nhìn về tương lai. Không chỉ tồn tại, chúng tôi sống để thực hiện hóa những ước mơ.
            p Tại Sun*, tất cả các thành viên luôn nỗ lực đem đến lựa chọn tốt hơn cho mọi người. Đứng ở điểm giao thoa giữa công nghệ, kinh doanh và giáo dục, chúng tôi sẽ mang lại sự thay đổi tích cực cho toàn xã hội.
        br
        p We are obsessed with making awesome things with awesome people.
        p 
            b Sun* Inc. CEO – Taihei Kobayashi
    section.section-vision
        p Tầm nhìn
        p Tạo ra thế giới bình đẳng nơi mỗi người đều có cơ hội mang lại những giá trị “Awesome”.
        p Sứ mệnh
        p Cùng những con người đam mê thử thách, chúng tôi tạo ra thay đổi tích cực cho xã hội thông qua các sản phẩm và lĩnh vực kinh doanh.
    section.section-service
    section.section-client
    section.section-statistic
    section.section-team
    section.section-activity